<div class="profile-modal absolute top-0 z-20 w-screen h-screen flex justify-center items-center align-middle">
    <div class="flex flex-col bg-slate-200 h-44 w-96 px-2 pt-3 rounded-sm drop-shadow-md">
        <p class="font-semibold">User Profie</p>
        <p class="profile-name "></p>
        <p class="font-semibold">About me:</p>
        <p class="profile-about"></p>
        <button class="profile-close px-2 py-1 w-fit bg-red-500" onclick="closeModal();">Close Profile</button>
    </div>
</div>
