@tailwind base;
@tailwind components;
@tailwind utilities;

/* npx tailwindcss -i ./src/input.css -o ./dist/output.css --watch */
* {
    @apply font-rethink;
}

.fullContainer {
    @apply w-screen h-screen flex flex-col justify-center items-center;
}

.userAuth {
    @apply bg-slate-50 drop-shadow-lg flex flex-col justify-center w-full h-screen mx-auto my-auto px-5 sm:p-10 sm:w-96 sm:h-fit ;
}

.userAuth form span:nth-child(-n+4) {
    @apply mt-2 mb-0.5 flex flex-col;
}

.userAuth form span:nth-child(-n+4) input{
    @apply bg-transparent py-2.5 pl-2 text-sm border-b-2 border-gray-500 focus:outline-none hover:border-green-500 focus:border-green-500 transition ease-in-out duration-200;
}

.userAuth form span:nth-child(-n+4) label {
    @apply text-gray-500 text-sm ml-1;
}

.userAuth form input[type=submit] {
    @apply bg-green-600 text-white font-semibold mt-5 py-4 drop-shadow-md rounded-sm hover:bg-green-500 cursor-pointer transition ease-in-out duration-200;
}

.msgContainer {
    @apply flex flex-col w-full h-5/6 mt-3 overflow-y-scroll overflow-x-hidden rounded-md;

    /* Stop scrollbar displaying */
    &::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Message Card Start */
.message-card {
    @apply bg-slate-100 px-3 py-2 my-3 w-fit  max-w-full min-w-[250px] xl:max-w-3xl sm:min-w-[350px] rounded-md;
}

.message-id {
    @apply hidden;
}

.message-user  {
    @apply font-semibold;
}

.message-content {
    @apply bg-slate-200 pl-2 pr-1 py-2 font-medium break-words rounded-sm;
}

.message-actions {
    @apply flex gap-5 h-12;
}

.message-actions > img {
    @apply w-5 h-auto cursor-pointer;
}

.like-btn {
    @apply w-5 h-auto cursor-pointer;
}

/* Message Card End */

.menu-btn {
    @apply bg-slate-200 drop-shadow-md w-20 h-20 rounded-lg flex items-center justify-center cursor-pointer hover:bg-slate-300 transition ease-in-out duration-200;
}

.menu-btn-logout {
    @apply w-9 h-9 bg-slate-300 hover:bg-slate-400;
}